.category-uncategorized .telohome .cat  {
  display: none;
}

td.nums {
  text-align: center;
}

.telohome {

span.badge-category .category-name { 
  max-width: 190px;
}
  
.badge-wrapper.bullet {
  margin-right: 0px;
}
  
.badge-category-bg {
  display: none !important;
}
  
.badge-wrapper.bullet span.badge-category, .cat {
  color: #339900;
}
  
.cat {
  margin-left: 10px;
  display: inline-block;
}

}

.topic-statuses { 
  
  display: inline-block;    
  color: #339900;
  
  i.fa {
    color: #339900;
  } 

}
